*.py linguist-detectable
*.py linguist-language=Python
move_minder/static/fontawesomefree/js-packages/@fortawesome/free-solid-svg-icons/*.js linguist-vendored
move_minder/static/fontawesomefree/js-packages/@fortawesome/free-brands-svg-icons/*.js linguist-vendored
move_minder/static/fontawesomefree/js-packages/@fortawesome/*/* linguist-vendored
move_minder/static/admin/css/*.css linguist-vendored
move_minder/static/fontawesomefree/css/*.css linguist-vendored
move_minder/static/* linguist-vendored
move_minder/static/*/* linguist-vendored
move_minder/static/*/*/* linguist-vendored
move_minder/static/*/*/*/* linguist-vendored
*.scss linguist-vendored
*.less linguist-vendored