{% extends "base.html" %}

{% block title %}
Dashboard | 
{% endblock %}

{% block main %}
<div class="px-4 lg:px-8 py-4 md:py-6 xl:py-8">
    <h2>Dashboard</h2>
    <section class="grid grid-cols-1 md:grid-cols-2 gap-6 sm:gap-8 md:gap-10 lg:gap-12 xl:gap-16 mt-4 sm:mt-6 md:mt-8 lg:mt-12 xl:mt-16">
        <section class="card">
            <h3 class="text-center pb-3 border-b border-slate-400 dark:border-slate-600">Your Upcoming Moves</h3>
            <div class="h-full">
                {% if moves %}
                    <table id="upcoming-moves-table" class="pt-4 sm:pt-5 md:pt-7 lg:pt-9 xl:pt-10  border-collapse border border-slate-400 dark:border-slate-500 border-spacing-0 w-full table-auto text-center">
                        <thead class="bg-slate-200 dark:bg-slate-700">
                            <tr class="p-1 sm:p-2 lg:p3">
                                <th>Date</th>
                                <th>Nickname</th>
                                <th class="md:max-lg:hidden">Owner</th>
                                <th class="hidden md:table-cell">From</th>
                                <th class="hidden md:table-cell">To</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for move in moves %}
                                <tr class="border-t border-t-slate-400 dark:border-t-slate-500 px-1 sm:px-2 lg:px-3 sm:py-1 lg:py-2 hover:bg-slate-100 dark:hover:bg-slate-800">
                                    <td class="link">
                                        <a href="{% url 'tracker:move-detail' move.id %}" class="block">{{ move.start_date|date:"SHORT_DATE_FORMAT" }}</a>
                                    </td>
                                    <td class="link">
                                        <a href="{% url 'tracker:move-detail' move.id %}" class="block">{{ move.nickname }}</a>
                                    </td>
                                    <td class="link md:max-lg:hidden">
                                        <a href="{% url 'tracker:move-detail' move.id %}" class="block">{{ move.primary_user__first_name }} {{ move.primary_user__last_name }}</a>
                                    </td>
                                    <td class="hidden link md:table-cell">
                                        <a href="{% url 'tracker:move-detail' move.id %}" class="block">{{ move.origin_city }}</a>
                                    </td>
                                    <td class="hidden link md:table-cell">
                                        <a href="{% url 'tracker:move-detail' move.id %}" class="block">{{ move.destination_city }}</a>
                                    </td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table> 
                {% else %}
                    <div class="h-full w-full flex justify-center items-center pb-4 lg:pb-6">
                        <p class="text-center">No upcoming moves to display</p>
                    </div>
                {% endif %}
            </div>
        </section>
        <section class="card">
            <h3 class="text-center pb-3 border-b border-slate-400 dark:border-slate-600">Parcel Status</h3>
            <div class="h-full">
                {% if parcels %}
                    <div id="chart" class="mx-auto pt-4 sm:pt-5 md:pt-7 lg:pt-9 xl:pt-10 "></div>
                {% else %}
                    <div class="h-full w-full flex justify-center items-center pb-4 lg:pb-6">
                        <p class="text-center">No parcel data to display</p>
                    </div>
                {% endif %}
            </div>
        </section>
        <section class="card">
            <h3 class="text-center pb-3 border-b border-slate-400 dark:border-slate-600">Quick Access</h3>
            <div class="mt-4 sm:mt-5 md:mt-7 lg:mt-9 xl:mt-10 grid grid-cols-3 md:max-lg:grid-cols-2 xl:grid-cols-4 gap-2 sm:gap-3 lg:gap-4">
                <a class="card hover:bg-slate-100 dark:hover:bg-slate-800 flex flex-nowrap items-center p-1 md:p-2 xl:p-3" href="{% url 'tracker:parcel-scan' %}">
                    <div class="size-10 md:size-11 xl:size-12 rounded-full bg-red-500/80 p-1 md:p-2 xl:p-3 text-slate-200 md:text-lg text-center flex justify-center items-center flex-none">
                        <i class="fa-solid fa-qrcode mx-auto"></i>
                    </div>
                    <div class="ml-3">
                        <p class="font-semibold mb-1">Scan</p>
                        <p class="text-xs">Scan parcels to update status</p>
                    </div>
                </a>
                <a class="card hover:bg-slate-100 dark:hover:bg-slate-800 flex flex-nowrap items-center p-1 md:p-2 xl:p-3" href="{% url 'tracker:moves-list' %}">
                    <div class="size-10 md:size-11 xl:size-12 rounded-full bg-blue-600/80 p-1 md:p-2 xl:p-3 text-slate-200 md:text-lg text-center flex justify-center items-center flex-none">
                        <i class="fa-solid fa-route mx-auto"></i>
                    </div>
                    <div class="ml-3">
                        <p class="font-semibold mb-1">Moves</p>
                        <p class="text-xs">Manage your moves</p>
                    </div>
                </a>
                <a class="card hover:bg-slate-100 dark:hover:bg-slate-800 flex flex-nowrap items-center p-1 md:p-2 xl:p-3" href="{% url 'tracker:move-create' %}">
                    <div class="size-10 md:size-11 xl:size-12 rounded-full bg-violet-500/80 p-1 md:p-2 xl:p-3 text-slate-200 md:text-lg text-center flex justify-center items-center flex-none">
                        <i class="fa-solid fa-truck mx-auto"></i>
                    </div>
                    <div class="ml-3">
                        <p class="font-semibold mb-1">New Move</p>
                        <p class="text-xs">Create a new move</p>
                    </div>
                </a>
                <a class="card hover:bg-slate-100 dark:hover:bg-slate-800 flex flex-nowrap items-center p-1 md:p-2 xl:p-3" href="{% url 'tracker:edit-profile' user.id %}">
                    <div class="size-10 md:size-11 xl:size-12 rounded-full bg-amber-400/80 p-1 md:p-2 xl:p-3 text-slate-200 md:text-lg text-center flex justify-center items-center flex-none">
                        <i class="fa-solid fa-user mx-auto"></i>
                    </div>
                    <div class="ml-3">
                        <p class="font-semibold mb-1">Edit Profile</p>
                        <p class="text-xs">Edit your profile or change your password</p>
                    </div>
                </a>
            </div>
        </section>
        <section class="card">
            <h3 class="text-center pb-3 border-b border-slate-400 dark:border-slate-600">Recent</h3>
            <div class="h-full">
                {% if recent_pages %}
                    <ul class="pt-4 sm:pt-5 md:pt-7 lg:pt-9 xl:pt-10 list-none w-full divide-y divide-slate-400 dark:divide-slate-500">
                        {% for page in recent_pages %}
                            <li class="w-full flex">
                                <a href="{{ page.url }}" class="w-full hover:bg-slate-100 dark:hover:bg-slate-800 text-center py-3">{{ page.name }}</a>
                            </li>
                        {% endfor %}
                    </ul>
                {% else %}
                    <div class="w-full flex justify-center items-center h-full pb-4 lg:pb-6">
                        <p class="text-center">No recent history to display</p>
                    </div>
                {% endif %}
            </div>
        </section>
    </section>
</div>
<script src="https://cdn.jsdelivr.net/npm/apexcharts"></script>
<script>
    console.log(Object.values({{ parcels|safe }}));
    const options = {
        series: Object.values({{ parcels|safe }}),
        labels: Object.keys({{ parcels|safe }}),
        chart: {
            foreColor: document.classList?.includes("dark") ? "#94a3b8" : "#64748b",
            id: "parcel-chart",
            type: "pie"
        },
        colors: ["#0f172a", "#8b5cf6", "#ef4444", "#2563eb", "#facc15", "#10b981"]
    };

    const chart = new ApexCharts(document.querySelector("#chart"), options);

    if ({{ parcels|length }} > 0) {
        chart.render();
    }    
</script>
{% endblock %}