{% extends "base.html" %}

{% block title %}
Dashboard | 
{% endblock %}

{% block main %}
<div class="px-4 lg:px-8 py-4 md:py-6 xl:py-8">
    <h2>Dashboard</h2>
    <section class="grid grid-cols-1 md:grid-cols-2 gap-6 sm:gap-8 md:gap-10 lg:gap-12 xl:gap-16 mt-4 sm:mt-6 md:mt-8 lg:mt-12 xl:mt-16">
        <section class="light-card dark:dark-card">
            <h3 class="text-center pb-3 border-b border-slate-400 dark:border-slate-600">Your Upcoming Moves</h3>
            <div></div>
        </section>
        <section class="light-card dark:dark-card">
            <h3 class="text-center pb-3 border-b border-slate-400 dark:border-slate-600">Parcel Status</h3>
            <div></div>
        </section>
        <section class="light-card dark:dark-card">
            <h3 class="text-center pb-3 border-b border-slate-400 dark:border-slate-600">Quick Access</h3>
            <div></div>
        </section>
        <section class="light-card dark:dark-card">
            <h3 class="text-center pb-3 border-b border-slate-400 dark:border-slate-600">Recent</h3>
            <div></div>
        </section>
    </section>
</div>
{% endblock %}