{% extends "base.html" %}

{% block main %}
<main class="pb-4 md:pb-6 xl:pb-8">
    <section id="hero" class="hero-image">
        <div class="hero-text">
            <h1>MoveMinder</h1>
            <p class="text-xl">Organize | Track | Recover</p>
            <div class="my-3 sm:my-3.5 md:my-4 lg:my-6 xl:my-8 md:flex md:flex-nowrap md:justify-center md:items-center">
                {% comment %} Get Started and Login buttons {% endcomment %}
            </div>
        </div>
    </section>

    <section id="content" class="my-4 md:my-6 lg:my-8 md:flex md:flex-nowrap md:justify-between">
        {% comment %} Three sections (columns at medium and above): Organize Your Move, Track Your Belongings, Recover Any Losses {% endcomment %}
    </section>
</main>
{% endblock %}