{% load static tailwind_tags phone %}
<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]>      <html class="no-js"> <!--<![endif]-->
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>{% block title %}Labels | {% endblock %}MoveMinder</title>
        <meta name="description" content="Track the status and contents of your possessions during a move with ease.">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link href="{% static 'fontawesomefree/css/fontawesome.css' %}" rel="stylesheet" type="text/css">
        <link href="{% static 'fontawesomefree/css/regular.css' %}" rel="stylesheet" type="text/css">
        <link href="{% static 'fontawesomefree/css/solid.css' %}" rel="stylesheet" type="text/css">
		{% tailwind_css %}
        <style>
            @media print {
                @page {
                    size: landscape;
                    margin-top: 0.5in;
                    margin-bottom: 0.5in;
                    margin-left: 0.43in;
                    margin-right: 0.42in;
                }
            }
        </style>
        <script>
            if (localStorage.getItem('theme') === 'dark' || (!('theme' in localStorage) && window.matchMedia('(prefers-color-scheme: dark)').matches)) {
                document.documentElement.classList.add('dark');
            } else {
                document.documentElement.classList.remove('dark');
            }
        </script>
    </head>
    <body>
        <!--[if lt IE 7]>
            <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="#">upgrade your browser</a> to improve your experience.</p>
        <![endif]-->
        <main class="label-grid gap-x-[.15in] grid grid-cols-2 bg-white">
            {% if parcels %}
                {% for parcel in parcels %}
                <section class="h-[3.5in] w-[5in] box-border rounded-md p-2 break-inside-avoid grid grid-cols-2 gap-1">
                    <img src="{{ parcel.qr_code.url }}" alt="{{ base_url }}{% url 'tracker:receiving'}?parcel={{ parcel.id }}" class="size-48 object-cover" />
                    <div class="address pt-5 whitespace-nowrap overflow-hidden text-5xl h-48 box-border invisible">
                        <p class="addr-text">{{ parcel.move_id.primary_user.first_name }} {{ parcel.move_id.primary_user.last_name }}</p>
                        <p class="addr-text">{{ parcel.move_id.destination_address1 }}</p>
                        {% if parcel.move_id.destination_address2 %}
                        <p class="addr-text">{{ parcel.move_id.destination_address2 }}</p>
                        {% endif %}
                        <p class="addr-text">{{ parcel.move_id.destination_city }}, {{ parcel.move_id.destination_state_province }}  {{ parcel.move_id.destination_postal_code }}</p>
                        <p class="addr-text">{{ parcel.move_id.destination_country }}</p>
                        <p class="addr-text">{{ parcel.move_id.primary_user.userprofile.phone|phone }}</p>
                    </div>
                    <div class="text-container whitespace-nowrap overflow-hidden text-5xl col-span-2 min-h-8 max-h-12 my-2">
                        <p class="text-element text-center">{% if parcel.room %}{{ parcel.room }}{% endif %}</p>
                    </div>
                    <div class="text-container whitespace-nowrap overflow-hidden flex items-end max-h-16">
                        <p class="text-element text-2xl">{{ parcel.type }}</p>
                    </div>
                    <div class="overflow-hidden max-h-16 flex items-end">
                        <p class="text-sm text-ellipsis mt-auto ml-auto h-fit w-fit">{% if parcel.contents %}{{ parcel.contents|linebreaksbr }} {% endif %}<p>
                    </div>
                </section>
                {% endfor %}
            {% elif object.qr_code %}
            <section class="h-[3.5in] w-[5in] box-border rounded-md p-2 break-inside-avoid grid grid-cols-2 gap-1">
                <img src="{{ object.qr_code.url }}" alt="{{ base_url }}{% url 'tracker:receiving'}?parcel={{ object.id }}" class="size-48" />
                <div class="address pt-5 whitespace-nowrap overflow-hidden text-5xl invisible">
                    <p class="addr-text">{{ object.move_id.primary_user.first_name }} {{ object.move_id.primary_user.last_name }}</p>
                    <p class="addr-text">{{ object.move_id.destination_address1 }}</p>
                    {% if object.move_id.destination_address2 %}
                    <p class="addr-text">{{ object.move_id.destination_address2 }}</p>
                    {% endif %}
                    <p class="addr-text">{{ object.move_id.destination_city }}, {{ object.move_id.destination_state_province }}  {{ object.move_id.destination_postal_code }}</p>
                    <p class="addr-text">{{ object.move_id.destination_country }}</p>
                    <p class="addr-text">{{ object.move_id.primary_user.userprofile.phone|phone }}</p>
                </div>
                <div class="text-container whitespace-nowrap overflow-hidden text-5xl col-span-2 min-h-8 max-h-12 my-2">
                    <p class="text-element text-center">{% if object.room %}{{ object.room }}{% endif %}</p>
                </div>
                <div class="text-container whitespace-nowrap overflow-hidden flex items-end max-h-16">
                    <p class="text-element text-2xl">{{ object.type }}</p>
                </div>
                <div class="overflow-hidden max-h-16 flex items-end">
                    <p class="text-sm text-ellipsis mt-auto ml-auto h-fit w-fit">{% if object.contents %}{{ object.contents|linebreaksbr }}{% endif %}<p>
                </div>
            </section>
            {% else %}
            <p>No labels to print.</p>
            {% endif %}
        </main>
        <script>
            window.addEventListener("DOMContentLoaded", () => {
                const addrContainers = document.querySelectorAll(".address");
                const textContainers = document.querySelectorAll(".text-container");
                addrContainers.forEach(container => {
                    const addrText = container.querySelectorAll(".addr-text");
                    addrText.forEach(text => {
                        while (text.scrollWidth > container.offsetWidth || text.scrollHeight > container.offsetHeight) {
                            const currentFontSize = parseFloat(window.getComputedStyle(text).fontSize);
                            const fontSize = currentFontSize - 1;
                            container.style.fontSize = fontSize + "px";
                        }
                    });
                    container.classList.remove("invisible");
                });
                textContainers.forEach(container => {
                    const text = container.querySelector(".text-element");
                    while (text.scrollWidth > container.offsetWidth || text.scrollHeight > container.offsetHeight) {
                        const currentFontSize = parseFloat(window.getComputedStyle(text).fontSize);
                        container.style.fontSize = (currentFontSize - 1) + "px";
                    }
                });
            });
        </script>
    </body>
</html>