{% extends "base.html" %}

{% block title %}
My Moves | 
{% endblock %}

{% block main %}
<div class="px-4 lg:px-8 py-4 md:py-6 xl:py-8">
    <section class="flex flex-wrap justify-between content-between sm:content-end gap-3 md:gap-4 lg:gap-6 mb-8 md:mb-12 lg:mb-16 xl:mb-20">
        <h2>My Moves</h2>
        <a class="btn cool max-sm:w-full mt-4 sm:mt-0 sm:ml-4 dark:bg-violet-700" href="{% url 'tracker:move-create' %}">
            <span class="hidden sm:max-md:inline">New Move</span>
            <span class="sm:max-md:hidden">Create New Move</span>
        </a>
    </section>
    {% if moves %}
    <table id="moves-table" class="pt-4 sm:pt-5 md:pt-7 lg:pt-9 xl:pt-10 border-collapse border border-slate-400 dark:border-slate-500 border-spacing-0 w-full table-auto text-center">
        <thead class="bg-slate-200 dark:bg-slate-700">
            <tr class="p-1 sm:p-2 lg:p3">
                <th>Start<span class="max-md:hidden">&nbsp; Date</span></th>
                <th class="max-md:hidden">End<span class="max-md:hidden">&nbsp; Date</span></th>
                <th>Nickname</th>
                <th>Owner</th>
                <th class="max-lg:hidden">Additional Users</th>
                <th class="hidden md:table-cell">From</th>
                <th class="hidden md:table-cell">To</th>
            </tr>
        </thead>
        <tbody>
            {% for move in moves %}
                <tr class="border-t border-t-slate-400 dark:border-t-slate-500 px-1 sm:px-2 lg:px-3 sm:py-1 lg:py-2 hover:bg-slate-100 dark:hover:bg-slate-800">
                    <td class="link">
                        <a href="{% url 'tracker:move-detail' move.id %}" class="block">{{ move.start_date|date:"SHORT_DATE_FORMAT" }}</a>
                    </td>
                    <td class="max-md:hidden link cursor-pointer" onclick="window.location='{% url "tracker:move-detail" move.id %}'">
                        <a href="{% url 'tracker:move-detail' move.id %}" class="block w-full">{{ move.end_date|date:"SHORT_DATE_FORMAT" }}</a>
                    </td>
                    <td class="link">
                        <a href="{% url 'tracker:move-detail' move.id %}" class="block">{{ move.nickname }}</a>
                    </td>
                    <td class="link">
                        <a href="{% url 'tracker:move-detail' move.id %}" class="block">{{ move.primary_user.first_name }} {{ move.primary_user.last_name }}</a>
                    </td>
                    <td class="link cursor-pointer max-lg:hidden" onclick="window.location='{% url "tracker:move-detail" move.id %}'">
                        <a href="{% url 'tracker:move-detail' move.id %}" class="block w-full">
                            <ul class="list-disc">
                            {% for user in move.secondary_users.all %}
                                <li>{{ user.first_name }} {{ user.last_name }}</li>
                            {% endfor %}
                            </ul>
                        </a>
                    </td>
                    <td class="hidden link md:table-cell">
                        <a href="{% url 'tracker:move-detail' move.id %}" class="block">{{ move.origin_city }}<span class="hidden lg:inline">, {{ move.origin_state_province }}</span></a>
                    </td>
                    <td class="hidden link md:table-cell">
                        <a href="{% url 'tracker:move-detail' move.id %}" class="block">{{ move.destination_city }}<span class="hidden lg:inline">, {{ move.destination_state_province }}</span></a>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table> 
{% else %}
    <div class="h-full w-full flex justify-center items-center pb-4 lg:pb-6">
        <p class="text-center">You have no moves to display</p>
    </div>
{% endif %}
<div>
{% endblock %}