<!DOCTYPE html>
{% extends "base.html" %}
{% load static %}

{% block title %}
Move: {{ object.nickname }} | 
{% endblock %}

{% block main %}
<div class="px-4 lg:px-8 py-4 md:py-6 xl:py-8">
    <h2>{{ object.nickname }}</h2>
    <div class="box mt-4 mb-2 p-2 flex flex-wrap sm:flex-nowrap justify-between items-center">
        <h3>Move Detail</h3>
        <div class="flex justify-between flex-nowrap space-x-2 lg:space-x-3">
            <div class="group relative">
                <span class="pointer-events-none absolute -top-10 left-1/2 -translate-x-1/2 whitespace-nowrap rounded bg-slate-900 text-slate-300 px-2 py-1 opacity-0 transition before:absolute before:left-1/2 before:top-full before:-translate-x-1/2 before:border-4 before:border-transparent before:border-t-slate-900 before:content-[''] group-hover:opacity-100 dark:bg-white dark:text-slate-500 dark:before:border-t-white">Edit Move</span>
                <a href="{% url 'tracker:move-update' move.id %}" class="btn-square cool">
                    <i class="fa-solid fa-pencil"></i>
                </a>
            </div>
            <div class="group relative">
                <span class="pointer-events-none absolute -top-10 left-1/2 -translate-x-1/2 whitespace-nowrap rounded bg-slate-900 text-slate-300 px-2 py-1 opacity-0 transition before:absolute before:left-1/2 before:top-full before:-translate-x-1/2 before:border-4 before:border-transparent before:border-t-slate-900 before:content-[''] group-hover:opacity-100 dark:bg-white dark:text-slate-500 dark:before:border-t-white">Delete Move</span>
                <button id="delete-button" class="btn-square cool">
                    <i class="fa-solid fa-trash-can"></i>
                </button>
            </div>
        </div>
    </div>

    <div id="delete-modal-container">
        <div id="overlay" class="hidden absolute left-0 top-0 z-30 w-full h-full bg-slate-950/25 dark:bg-slate-50/25 transition-opacity"></div>

        <section id="delete-modal" class="hidden absolute left-1/2 top-1/2 z-40 card -translate-x-1/2 -translate-y-1/2">
            <header class="flex justify-between items-end pb-2 border-b border-b-slate-400 dark:border-b-slate-500 mb-3 sm:mb-4 md:mb-5 lg:mb-6 xl:mb-7 2xl:mb-8">
                <h4>Delete Move</h4>
                <button id="close-delete" class="btn-square cool">
                    <i class="fa-solid fa-xmark"></i>
                </button>
            </header>
            <section class="my-4 sm:my-5 md:my-6 lg:my-8 xl:my-10 2xl:my-12">
                {% csrf_token %}
                <p id="warning-text">You are about to delete this move and all of its parcels. This action cannot be undone. Are you sure?</p>
                <p id="error-text" class="hidden text-red-500 dark:text-red-600">Oops! Something went wrong.</p>
            </section>
            <footer class="flex justify-between items-center">
                <button id="cancel-delete" class="btn primary subtle">Cancel</button>
                <button id="confirm-delete" class="btn danger flex flex-nowrap items-center">
                    <svg id="spinner" class="hidden animate-spin -ml-1 h-3.5 w-3.5 mr-3 -mb-2 text-white dark:text-slate-300" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 16 16">
                        <circle class="opacity-25" cx="12" cy="12" r="10" stroke="currentColor" stroke-width="4"></circle>
                        <path class="opacity-75" fill="currentColor" d="M4 12a8 8 0 018-8V0C5.373 0 0 5.373 0 12h4zm2 5.291A7.962 7.962 0 014 12H0c0 3.042 1.135 5.824 3 7.938l3-2.647z"></path>
                    </svg>
                    <span>Delete</span>
                </button>
            </footer>
        </section>
    </div>

    <section class="grid grid-cols-1 md:grid-cols-2 2xl:grid-cols-4 gap-6 sm:gap-8 md:gap-10 lg:gap-12 mt-4 sm:mt-6 md:mt-8 lg:mt-12 xl:mt-16">
        <section class="card md:order-2">
            <h4 class="text-center pb-3 border-b border-slate-400 dark:border-slate-600">Parcel Status</h4>
            <div class="h-full">
                {% if parcels %}
                    <div id="chart" class="mx-auto pt-4 sm:pt-5 md:pt-7 lg:pt-9 xl:pt-10 "></div>
                {% else %}
                    <div class="h-full w-full flex justify-center items-center pb-4 lg:pb-6">
                        <p class="text-center">No parcel data to display</p>
                    </div>
                {% endif %}
            </div>
        </section>
        <section class="box p-4 rounded-lg shadow-lg shadow-slate-700/60 transition lg:p-6 dark:shadow-slate-400/60 md:order-1">
            <h4 class="text-center pb-3 border-b border-slate-400 dark:border-slate-600">Key Details</h4>
            <table class="mt-4 sm:mt-5 md:mt-7 lg:mt-9 xl:mt-10  border-collapse border border-slate-400 dark:border-slate-500 border-spacing-0 w-full table-auto">
                <tr class="px-1 sm:px-2 lg:px-3 sm:py-1 lg:py-2">
                    <th class="border px-1 text-left border-slate-400 dark:border-slate-500">Nickname</th>
                    <td class="border px-1 text-left border-slate-400 dark:border-slate-500">{{ object.nickname }}</td>
                </tr>
                <tr class="px-1 sm:px-2 lg:px-3 sm:py-1 lg:py-2">
                    <th class="border px-1 text-left border-slate-400 dark:border-slate-500">Start Date</th>
                    <td class="border px-1 text-left border-slate-400 dark:border-slate-500">{{ object.start_date|date:"SHORT_DATE_FORMAT" }}</td>
                </tr>
                <tr class="px-1 sm:px-2 lg:px-3 sm:py-1 lg:py-2">
                    <th class="border px-1 text-left border-slate-400 dark:border-slate-500">End Date</th>
                    <td class="border px-1 text-left border-slate-400 dark:border-slate-500">{{ object.end_date|date:"SHORT_DATE_FORMAT" }}</td>
                </tr>
                <tr class="px-1 sm:px-2 lg:px-3 sm:py-1 lg:py-2">
                    <th class="border px-1 text-left border-slate-400 dark:border-slate-500">Owner</th>
                    <td class="border px-1 text-left border-slate-400 dark:border-slate-500">{{ object.primary_user.first_name }} {{ object.primary_user.last_name }}</td>
                </tr>
                <tr class="px-1 sm:px-2 lg:px-3 sm:py-1 lg:py-2">
                    <th class="border px-1 text-left border-slate-400 dark:border-slate-500">Additional Users</th>
                    <td class="border px-1 text-left border-slate-400 dark:border-slate-500">
                        <ul class="list-disc">
                            {% for user in move.secondary_users.all %}
                                <li>{{ user.first_name }} {{ user.last_name }}</li>
                            {% endfor %}
                        </ul>
                    </td>
                </tr>
            </table>
        </section>
        <section class="card order-3">
            <h4 class="text-center pb-3 border-b border-slate-400 dark:border-slate-600">Origin</h4>
            <div class="mt-4 sm:mt-5 md:mt-7 lg:mt-9 xl:mt-10">
                <p>{{ move.origin_address1 }}</p>
                {% if move.origin_address2 %}
                    <p>{{ move.origin_address2 }}</p>
                {% endif %}
                <p>{{ move.origin_city }}, {{ move.origin_state_province }}  {{ move.origin_postal_code }} {{ move.origin_country }}</p>
            </div>
        </section>
        <section class="card order-4">
            <h4 class="text-center pb-3 border-b border-slate-400 dark:border-slate-600">Destination</h4>
            <div class="mt-4 sm:mt-5 md:mt-7 lg:mt-9 xl:mt-10">
                <p>{{ move.destination_address1 }}</p>
                {% if move.destination_address2 %}
                    <p>{{ move.destination_address2 }}</p>
                {% endif %}
                <p>{{ move.destination_city }}, {{ move.destination_state_province }}  {{ move.destination_postal_code }} {{ move.destination_country }}</p>
            </div>
        </section>
    </section>

    <section class="mt-8 sm:mt-10 md:mt-12 lg:mt-14 xl:mt-16 2xl:mt-20">
        <div class="box mt-4 sm:mt-6 lg:mt-8 mb-2 p-2 flex flex-wrap sm:flex-nowrap justify-between items-center">
            <h4>Parcels</h4>
            <div class="flex justify-between flex-nowrap space-x-2 lg:space-x-3">
                <div class="group relative">
                    <span class="pointer-events-none absolute -top-10 left-1/2 -translate-x-1/2 whitespace-nowrap rounded bg-slate-900 text-slate-300 px-2 py-1 opacity-0 transition before:absolute before:left-1/2 before:top-full before:-translate-x-1/2 before:border-4 before:border-transparent before:border-t-slate-900 before:content-[''] group-hover:opacity-100 dark:bg-white dark:text-slate-500 dark:before:border-t-white">Add Parcel</span>
                    <a href="{% url 'tracker:parcel-create' move.id %}" class="btn-square cool w-6 h-6 md:w-7 md:h-7 lg:w-8 lg:h-8 2xl:w-10 2xl:h-10">
                        <i class="fa-solid fa-plus"></i>
                    </a>
                </div>
                {% if parcels %}
                <div class="group relative">
                    <span class="pointer-events-none absolute -top-10 left-1/2 -translate-x-1/2 whitespace-nowrap rounded bg-slate-900 text-slate-300 px-2 py-1 opacity-0 transition before:absolute before:left-1/2 before:top-full before:-translate-x-1/2 before:border-4 before:border-transparent before:border-t-slate-900 before:content-[''] group-hover:opacity-100 dark:bg-white dark:text-slate-500 dark:before:border-t-white">Info</span>
                    <button id="info-button" class="btn-square cool w-6 h-6 md:w-7 md:h-7 lg:w-8 lg:h-8 2xl:w-10 2xl:h-10">
                        <i class="fa-solid fa-circle-info"></i>
                    </button>
                </div>
                <div class="group relative">
                    <span class="pointer-events-none absolute -top-10 left-1/2 -translate-x-1/2 whitespace-nowrap rounded bg-slate-900 text-slate-300 px-2 py-1 opacity-0 transition before:absolute before:left-1/2 before:top-full before:-translate-x-1/2 before:border-4 before:border-transparent before:border-t-slate-900 before:content-[''] group-hover:opacity-100 dark:bg-white dark:text-slate-500 dark:before:border-t-white">Print Labels</span>
                    <button id="print-labels-button" class="btn-square cool w-6 h-6 md:w-7 md:h-7 lg:w-8 lg:h-8 2xl:w-10 2xl:h-10">
                        <i class="fa-solid fa-print"></i>
                    </button>
                </div>
                <div class="group relative">
                    <span class="pointer-events-none absolute -top-10 left-1/2 -translate-x-1/2 whitespace-nowrap rounded bg-slate-900 text-slate-300 px-2 py-1 opacity-0 transition before:absolute before:left-1/2 before:top-full before:-translate-x-1/2 before:border-4 before:border-transparent before:border-t-slate-900 before:content-[''] group-hover:opacity-100 dark:bg-white dark:text-slate-500 dark:before:border-t-white">Bulk Ship</span>
                    <button id="ship-all-parcels-button" class="btn-square cool w-6 h-6 md:w-7 md:h-7 lg:w-8 lg:h-8 2xl:w-10 2xl:h-10">
                        <i id="bulk-ship-icon" class="fa-solid fa-truck-arrow-right"></i>
                        <svg id="bulk-ship-spinner" class="hidden animate-spin -ml-1 h-3.5 w-3.5 mr-3 -mb-2 text-white dark:text-slate-300" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 16 16">
                            <circle class="opacity-25" cx="12" cy="12" r="10" stroke="currentColor" stroke-width="4"></circle>
                            <path class="opacity-75" fill="currentColor" d="M4 12a8 8 0 018-8V0C5.373 0 0 5.373 0 12h4zm2 5.291A7.962 7.962 0 014 12H0c0 3.042 1.135 5.824 3 7.938l3-2.647z"></path>
                        </svg>
                    </button>
                </div>
                <div class="group relative">
                    <span class="pointer-events-none absolute -top-10 left-1/2 -translate-x-1/2 whitespace-nowrap rounded bg-slate-900 text-slate-300 px-2 py-1 opacity-0 transition before:absolute before:left-1/2 before:top-full before:-translate-x-1/2 before:border-4 before:border-transparent before:border-t-slate-900 before:content-[''] group-hover:opacity-100 dark:bg-white dark:text-slate-500 dark:before:border-t-white">End Receiving</span>
                    <button id="end-receiving-button" class="btn-square cool size-6 md:size-7 lg:size-8 2xl:size-10">
                        <i id="end-receiving-icon" class="fa-regular fa-circle-check"></i>
                        <svg id="end-receiving-spinner" class="hidden animate-spin -ml-1 h-3.5 w-3.5 mr-3 -mb-2 text-white dark:text-slate-300" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 16 16">
                            <circle class="opacity-25" cx="12" cy="12" r="10" stroke="currentColor" stroke-width="4"></circle>
                            <path class="opacity-75" fill="currentColor" d="M4 12a8 8 0 018-8V0C5.373 0 0 5.373 0 12h4zm2 5.291A7.962 7.962 0 014 12H0c0 3.042 1.135 5.824 3 7.938l3-2.647z"></path>
                        </svg>
                    </button>
                </div>
                {% endif %}
            </div>
        </div>
        <section id="error-message" class="hidden relative w-full justify-center items-center my-4 md:my-6 lg:my-8 xl:my-10 p-4 sm:p-6 md:p-8 lg:p-10 xl:p-12 2xl:p-14 rounded-lg bg-red-500 dark:bg-red-600 text-slate-100 dark:text-slate-800">
            <button id="close-error" class="rounded-full absolute -top-0.5 md:max-xl:-top-1 right-px md:text-lg xl:text-xl opacity-60 hover:text-white dark:hover:text-slate-700">
                <i class="fa-solid fa-circle-xmark"></i>
            </button>
            <p>Oops! Something went wrong.</p>
        </section>
        <section id="label-info" class="hidden relative w-full card my-3 md:my-4 transition">
            <button id="hide-info" class="absolute top-0.5 right-0.5 size-7 rounded-full box hover:bg-slate-100 dark:hover:bg-slate-600">
                <i class="fa-solid fa-xmark"></i>
            </button>
            <div class="flex flex-nowrap space-x-4 lg:space-x-6">
                <div class="size-10 shrink-0 rounded-full border-[3px] border-slate-500 dark:border-slate-400 flex justify-center items-center">
                    <svg xmlns="http://www.w3.org/2000/svg" class="size-6 fill-slate-500 dark:fill-slate-400" viewBox="0 0 192 512"><!--!Font Awesome Free 6.5.2 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license/free Copyright 2024 Fonticons, Inc.--><path d="M48 80a48 48 0 1 1 96 0A48 48 0 1 1 48 80zM0 224c0-17.7 14.3-32 32-32H96c17.7 0 32 14.3 32 32V448h32c17.7 0 32 14.3 32 32s-14.3 32-32 32H32c-17.7 0-32-14.3-32-32s14.3-32 32-32H64V256H32c-17.7 0-32-14.3-32-32z"/></svg>
                </div>
                <div class="space-y-2">
                    <p><strong>Print: </strong>Prints labels for all parcels. Labels are designed to be compatible with <a href= "https://www.avery.com/blank/labels/94256" class="text-blue-600 dark:text-blue-500 hover:underline hover:text-blue-500 dark:hover:text-blue-400 visited:violet-600 dark:visited:violet-500" target="blank">Avery 5" x 3 1/2" labels</a> (SKU 94256).</p>
                    <p><strong>Bulk Ship: </strong>Sets the status of all "Packed" parcels to "In Transit." Intended for use when turning over all parcels to movers or when loading all parcels into your vehicle.</p>
                    <p><strong>End Receiving: </strong>Sets the status of all parcels not "Received," "Damaged," or "Accepted" to "Lost". Intended for use after scanning all parcels received from movers or unloaded from your vehicle.</p>
                </div>
            </div>
        </section>
        <iframe id="label-iframe" class="absolute -left-[9999px] -top-[9999px] print:block" src="{% url 'tracker:label-preview' %}?pk={{ object.id }}" height="816" width="1056" ></iframe>
        {% if parcels %}
        <table id="parcels-table" class="mt-4 sm:mt-5 md:mt-7 lg:mt-9 xl:mt-10 border-collapse border border-slate-400 dark:border-slate-500 border-spacing-0 w-full table-auto text-center">
            <thead class="bg-slate-200 dark:bg-slate-700">
                <tr class="p-1 sm:p-2 lg:p3">
                    <th>ID</th>
                    <th>Type</th>
                    <th>Room</th>
                    <th>Status</th>
                </tr>
            </thead>
            <tbody>
                {% for parcel in parcels %}
                    <tr class="border-t border-t-slate-400 dark:border-t-slate-500 px-1 sm:px-2 lg:px-3 sm:py-1 lg:py-2 hover:bg-slate-100 dark:hover:bg-slate-800">
                        <td class="link">
                            <a href="{% url 'tracker:parcel-detail' move.id parcel.id %}" class="block">{{parcel.id }}</a>
                        </td>
                        <td class="link">
                            <a href="{% url 'tracker:parcel-detail' move.id parcel.id %}" class="block">{{ parcel.type }}</a>
                        </td>
                        <td class="link">
                            <a href="{% url 'tracker:parcel-detail' move.id parcel.id %}" class="block">{{ parcel.room }}</a>
                        </td>
                        <td class="link">
                            <a id="status-{{ parcel.id }}" href="{% url 'tracker:parcel-detail' move.id parcel.id %}" class="block">{{ parcel.status }}</a>
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table> 
    {% else %}
        <div class="h-full w-full flex justify-center items-center pb-4 lg:pb-6 md:mt-4 lg:mt-6 xl:mt-8 2xl:mt-10">
            <p class="text-center">This move has no parcels to display</p>
        </div>
    {% endif %}
    </section>
</div>

<script src="https://cdn.jsdelivr.net/npm/apexcharts"></script>
<script>
    const options = {
        series: Object.values({{ parcel_status|safe }}),
        labels: Object.keys({{ parcel_status|safe }}),
        chart: {
            foreColor: document.classList?.includes("dark") ? "#94a3b8" : "#64748b",
            id: "parcel-chart",
            type: "pie"
        },
        colors: ["#0f172a", "#8b5cf6", "#ef4444", "#2563eb", "#facc15", "#10b981"]
    };

    const chart = new ApexCharts(document.querySelector("#chart"), options);

    if ({{ parcels|length }} > 0) {
        chart.render();
    }    

    const deleteButton = document.getElementById("delete-button");
    const delOverlay = document.getElementById("overlay");
    const modal = document.getElementById("delete-modal");
    const closeButton = document.getElementById("close-delete");
    const cancelButton = document.getElementById("cancel-delete");
    const confirmButton = document.getElementById("confirm-delete");
    const spinner = document.getElementById("spinner");
    const wText = document.getElementById("warning-text");
    const eText = document.getElementById("error-text");
    const bulkShip = document.getElementById("ship-all-parcels-button");
    const errorMsg = document.getElementById("error-message");
    const closeErr = document.getElementById("close-error");
    const infoButton = document.getElementById("info-button");
    const hideInfo = document.getElementById("hide-info");
    const infoSection = document.getElementById("label-info");
    const labels = document.getElementById("label-iframe");
    const printButton = document.getElementById("print-labels-button");
    const endReceivingButton = document.getElementById("end-receiving-button");

    const hideModal = () => {
        if (wText.classList.contains("hidden")) {
            wText.classList.remove("hidden");
            eText.classList.add("hidden");
        }
        if (!spinner.classList.contains("hidden")) {
            spinner.classList.add("hidden");
        }
        delOverlay.classList.add("hidden");
        modal.classList.add("hidden");
    } 

    deleteButton.addEventListener("click", () => {
        delOverlay.classList.remove("hidden");
        modal.classList.remove("hidden");
    });

    delOverlay.addEventListener("click", hideModal);

    closeButton.addEventListener("click", hideModal);

    cancelButton.addEventListener("click", hideModal);

    confirmButton.addEventListener("click", async () => {
        spinner.classList.remove("hidden");
        delOverlay.removeEventListener("click", hideModal);

        const buttons = [closeButton, cancelButton, confirmButton];
        buttons.forEach((button) => button.setAttribute("disabled", true));

        const csrfToken = document.querySelector("input[type='hidden']");
        const csrf = csrfToken.value;

        const response = await fetch("{% url 'tracker:move-delete' move.id %}", {
            method: "DELETE",
            headers: {
                "X-CSRFToken": csrf
            }
        });

        if (response.status === 200) {
            const data = await response.json();
            if (data) {
                window.location.href = data.success_url;
            } else {
                wText.classList.add("hidden");
                eText.classList.remove("hidden");
                buttons.forEach((button) => button.removeAttribute("disabled"));
                spinner.classList.add("hidden");
            }
        } else {
            wText.classList.add("hidden");
            eText.classList.remove("hidden");
            buttons.forEach((button) => button.removeAttribute("disabled"));
            spinner.classList.add("hidden");
        }
    });

    bulkShip.addEventListener("click", async () => {
        bulkShip.setAttribute("disabled", true);
        const spinner = document.getElementById("bulk-ship-spinner");
        const icon = document.getElementById("bulk-ship-icon");

        icon.classList.add("hidden");
        spinner.classList.remove("hidden");

        const csrfToken = document.querySelector("input[type='hidden']");
        const csrf = csrfToken.value;

        const response = await fetch("{% url 'tracker:bulk-ship' move.id %}", {
            method: "PATCH",
            headers: {
                "X-CSRFToken": csrf
            }
        });

        if (response.status === 200) {
            const data = await response.json();
            for (let i = 0; i < data.length; i++) {
                const statusField = document.getElementById(`status-${data[i].id}`);
                if (statusField) {
                    statusField.textContent = data[i].status;
                }
            }
            bulkShip.removeAttribute("disabled");
            window.location.reload();
        } else {
            errorMsg.classList.remove("hidden");
            errorMsg.classList.add("flex");
        }

        spinner.classList.add("hidden");
        icon.classList.remove("hidden");
    });

    closeErr.addEventListener("click", () => {
        errorMsg.classList.remove("flex");
        errorMsg.classList.add("hidden");
    });

    infoButton.addEventListener("click", () => infoSection.classList.remove("hidden"));
    hideInfo.addEventListener("click", () => infoSection.classList.add("hidden"));

    printButton.addEventListener("click", () => {
        labels.contentWindow.print();
    });

    endReceivingButton.addEventListener("click", async () => {
        endReceivingButton.setAttribute("disabled", true);
        const spinner = document.getElementById("end-receiving-spinner");
        const icon = document.getElementById("end-receiving-icon");

        icon.classList.add("hidden");
        spinner.classList.remove("hidden");

        const csrfToken = document.querySelector("input[type='hidden']");
        const csrf = csrfToken.value;

        const response = await fetch("{% url 'tracker:end-receiving' move.id %}", {
            method: "PATCH",
            headers: {
                "X-CSRFToken": csrf
            }
        });

        if (response.status === 200) {
            const data = await response.json();
            for (let i = 0; i < data.length; i++) {
                const statusField = document.getElementById(`status-${data[i].id}`);
                if (statusField) {
                    statusField.textContent = data[i].status;
                }
            }
            endReceivingButton.removeAttribute("disabled");
        } else {
            errorMsg.classList.remove("hidden");
            errorMsg.classList.add("flex");
        }

        spinner.classList.add("hidden");
        icon.classList.remove("hidden");
    })
</script>
{% endblock %}