<!DOCTYPE html>

{% extends "base.html" %}
{% load static %}

{% block title %}
New Parcel | 
{% endblock %}

{% block main %}
<div class="my-2 sm:my-3 md:mx-auto md:my-8 md:p-8 lg:p-12 xl:p-16 w-full">
    <div id="camera-div" class="absolute w-screen h-full top-0 left-0 right-0 bottom-0 hidden bg-white dark:bg-slate-900 z-40 overflow-auto">
        <div class="w-screen h-screen top-0 left-0 lg:w-[90vw] mx-auto">
            <div class="flex justify-end py-3 md:py-4 lg:py-6 xl:py-8 w-full">
                <button id="close-camera-button" class="btn-square contrast">
                    <i class="fa-solid fa-xmark"></i>
                </button>
            </div>
            <div class="w-full relative">
                <video id="camera-feed" autoplay muted playsinline class="w-full h-full object-cover"></video>
                <canvas id="canvas" class="hidden w-full h-full object-cover"></canvas>
            </div>
            <div id="camera-controls" class="grid grid-cols-3 px-3 pt-6 pb-12 w-full items-center bg-white dark:bg-slate-900">
                <div class="flex justify-center items-center col-start-2">
                    <button id="snap-button" class="col-start-2 size-8 sm:size-9 md:size-10 xl:size-11 rounded-full ring-1 md:ring-2 ring-offset-2 lg:ring-offset-4 ring-slate-700 bg-slate-700 dark:ring-slate-200 dark:bg-slate-200 hover:bg-slate-500 hover:ring-slate-500 dark:hover:bg-slate-400 dark:hover:ring-slate-400"></button>
                </div>
                <div class="flex justify-end items-center">
                    <button id="flip-button" class="btn-square cool">
                        <i class="fa-solid fa-rotate"></i>
                    </button>
                </div>
            </div>
            <div id="canvas-controls" class="hidden p-3 md:p-4 lg:p-6 xl:p-8 w-full justify-between items-center">
                <button id="try-again-button" class="btn contrast space-x-2">
                    <i class="fa-solid fa-rotate-left"></i>
                    <span>Try Again</span>
                </button>
                <button id="save-button" class="btn success space-x-2">
                    <i class="fa-regular fa-circle-check"></i>
                    <span>Save</span>
                </button>
            </div>
        </div>
    </div>
    <form id="create-parcel-form" method="post" class="form-grid my-2 sm:my-3 mx-0 md:mx-auto md:my-8 rounded-md lg:rounded-lg box p-4 md:p-8 lg:p-12 xl:p-16 w-full md:w-4/5 lg:w-2/3 xl:w-1/2 box-border space-y-4 lg:space-y-6" enctype="multipart/form-data">
        <h2 class="text-center">{{ move.nickname }}: New Parcel</h2>
        {% csrf_token %}
        <div class="fieldWrapper">
            {{ form.type.as_field_group }}
        </div>
        <div class="fieldWrapper">
            {{ form.room.as_field_group }}
        </div>
        <div class="fieldWrapper">
            {{ form.contents.as_field_group }}
        </div>
        <div class="fieldWrapper">
            <label class="block" for="{{ form.photo.id_for_label }}">
                <span>Photo:</span>
            </label>
            <div class="flex flex-nowrap justify-between space-x-2 lg:space-x-3 items-center">
                <button id="camera-button" class="btn-square primary">
                    <i id="camera-icon" class="fa fa-camera"></i>
                    <svg id="spinner" class="hidden animate-spin size-5 text-white dark:text-slate-300" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24">
                        <circle class="opacity-25" cx="12" cy="12" r="10" stroke="currentColor" stroke-width="4"></circle>
                        <path class="opacity-75" fill="currentColor" d="M4 12a8 8 0 018-8V0C5.373 0 0 5.373 0 12h4zm2 5.291A7.962 7.962 0 014 12H0c0 3.042 1.135 5.824 3 7.938l3-2.647z"></path>
                    </svg>
                </button>
                <span>or</span>
                {{ form.photo }}
            </div>
        </div>
        <div class="fieldWrapper">
            {{ form.weight.as_field_group }}
        </div>
        <div>
            {% if form.errors %}
                <div>
                    <p class="text-red-500 dark:text-red-600 text-sm md:text-base">Please correct the following errors:</p>
                    <ul class="errorlist">
                        {% for field, error_list in form.errors.items %}
                            {% for error in error_list %}
                                <li>{{ field }}: {{ error }}</li>
                            {% endfor %}
                        {% endfor %}
                    </ul>
                </div>
            {% endif %}
            <div class="flex flex-wrap justify-between pt-3">
                <a href="{% url 'tracker:move-detail' move.id %}" class="btn primary subtle">Cancel</a>
                <input type="submit" value="Submit" class="btn primary" />
            </div>
        </div>
    </form>
</div>

<script>
    const cameraButton = document.getElementById("camera-button");
    const photoInput = document.getElementById("id_photo");
    const cameraDiv = document.getElementById("camera-div");
    const closeCam = document.getElementById('close-camera-button');
    const cameraFeed = document.getElementById("camera-feed");
    const canvas = document.getElementById("canvas");
    const camControls = document.getElementById("camera-controls");
    const snapButton = document.getElementById("snap-button");
    const flipButton = document.getElementById("flip-button");
    const canvasControls = document.getElementById("canvas-controls");
    const tryAgain = document.getElementById("try-again-button");
    const saveButton = document.getElementById("save-button");
    const camIcon = document.getElementById("camera-icon");
    const spinner = document.getElementById("spinner");
    let picture;
    let stream;
    let facingMode = "environment";

    const startCamera = async () => {
        try {
            stream = await navigator.mediaDevices.getUserMedia({ video: { facingMode: facingMode } });
            cameraFeed.srcObject = stream;
        } catch (error) {
            console.error("Error accessing webcam: ", error)
        }
    }

    const stopCamera = () => {
        if (stream) {
            const tracks = stream.getTracks();
            tracks.forEach(track => track.stop());
        }
    }

    const snap = () => {
        canvas.height = cameraFeed.scrollHeight;
        canvas.width = cameraFeed.scrollWidth;
        const context = canvas.getContext("2d");
        if (facingMode === "user") {
            context.translate(canvas.width, 0);
            context.scale(-1, 1);
        }
        context.clearRect(0, 0, canvas.width, canvas.height);
        context.drawImage(cameraFeed, 0, 0, canvas.width, canvas.height);
        const data = canvas?.toDataURL("image/png");
        return data;
    }

    const setProps = () => {
        const typeMenu = document.getElementById("id_type");
        const formDivs = document.querySelectorAll("form > div");
        typeMenu.setAttribute("required", true);
        formDivs.forEach(div => {
            const label = div.querySelector("label");
            const input = div.querySelector("input");
            const select = div.querySelector("select");
            const textarea = div.querySelector("textarea");

            if (input?.hasAttribute("required") || select?.hasAttribute("required") || textarea?.hasAttribute("required")) {
                // label.classList.add("font-bold");
                const labelText = label.innerText;
                let newLabel = "";
                for (let i = 0; i < labelText.length - 1; i++) {
                    newLabel += labelText[i];
                }
                newLabel += "*:";
                label.innerText = newLabel;
                label.classList.add("font-semibold");
            }

            const errorList = div.querySelector("ul.errorlist");
            if (input && errorList) {
                input?.classList.add("invalid");
            } else {
                input?.classList.remove("invalid");
            }

            const helpText = div.querySelector(".helptext");
            if (input?.matches(":focus")) {
                helpText?.classList.remove("hidden");
                helpText?.classList.add("flex");
            } else {
                helpText?.classList.add("hidden");
                helpText?.classList.remove("flex");
            }

            input?.addEventListener("focusout", (event) => {
                if (!event.relatedTarget || !event.relatedTarget.closest('a[href]')) {
                    input?.classList.remove("invalid");
                    errorList?.remove();
                    helpText?.classList.add("hidden");
                    helpText?.classList.remove("flex");
                }
            });

            select?.addEventListener("focusout", (event) => {
                if (!event.relatedTarget || !event.relatedTarget.closest('a[href]')) {
                    select?.classList.remove("invalid");
                    errorList?.remove();
                    helpText?.classList.add("hidden");
                    helpText?.classList.remove("flex");
                }
            });

            textarea?.addEventListener("focusout", (event) => {
                if (!event.relatedTarget || !event.relatedTarget.closest('a[href]')) {
                    textarea?.classList.remove("invalid");
                    errorList?.remove();
                    helpText?.classList.add("hidden");
                    helpText?.classList.remove("flex");
                }
            });

            input?.addEventListener("focusin", (event) => {
                event.stopPropagation();
                helpText?.classList.remove("hidden");
                helpText?.classList.add("flex");
            });

            select?.addEventListener("focusin", (event) => {
                event.stopPropagation();
                helpText?.classList.remove("hidden");
                helpText?.classList.add("flex");
            });

            textarea?.addEventListener("focusin", (event) => {
                event.stopPropagation();
                helpText?.classList.remove("hidden");
                helpText?.classList.add("flex");
            });
        });

        photoInput.setAttribute("capture", "environment");
    }
    
    window.addEventListener("load", setProps);

    cameraButton.addEventListener("click", async () => {
        camIcon.classList.add("hidden");
        spinner.classList.remove("hidden");
        cameraButton.setAttribute("disabled", true);
        await startCamera();
        cameraDiv.classList.remove("hidden");
        cameraButton.removeAttribute("disabled");
        spinner.classList.add("hidden");
        camIcon.classList.remove("hidden");
    });

    closeCam.addEventListener("click", (event) => {
        event.stopPropagation();
        stopCamera();
        if (!canvasControls.classList.contains("hidden")) {
            canvasControls.classList.add("hidden");
        }
        if (!canvas.classList.contains("hidden")) {
            canvas.classList.add("hidden");
        }
        if (camControls.classList.contains("hidden")) {
            camControls.classList.remove("hidden");
        }
        if (cameraFeed.classList.contains("hidden")) {
            cameraFeed.classList.remove("hidden");
        }
        cameraDiv.classList.add("hidden");
    });

    snapButton.addEventListener("click", (event) => {
        event.preventDefault();
        event.stopPropagation();
        picture = snap();
        camControls.classList.add("hidden");
        cameraFeed.classList.add("hidden");
        canvas.classList.remove("hidden");
        canvasControls.classList.remove("hidden");
        canvasControls.classList.add("flex");
    });

    flipButton.addEventListener("click", (event) => {
        event.stopPropagation();
        facingMode = facingMode === "environment" ? "user" : "environment";
        startCamera();
    });

    tryAgain.addEventListener("click", (event) => {
        event.stopPropagation();
        canvasControls.classList.add("hidden");
        canvas.classList.add("hidden");
        cameraFeed.classList.remove("hidden");
        camControls.classList.remove("hidden");
    });

    const setFiles = (input, files) => {
        const fileList = new DataTransfer();
        files.forEach(file => fileList.items.add(file));
        input.files = fileList.files;
    }

    saveButton.addEventListener("click", (event) => {
        event.stopPropagation();
        const timestamp = new Date().toISOString();
        canvas.toBlob((blob) => {
            const file = new File([blob], `img_${timestamp}.jpeg`, { type: "image/jpeg" });
            setFiles(photoInput, [file]);
        }, "image/jpeg");
        stopCamera();
        canvasControls.classList.add("hidden");
        canvas.classList.add("hidden");
        cameraFeed.classList.remove("hidden");
        camControls.classList.remove("hidden");
        cameraDiv.classList.add("hidden");
    });
</script>
{% endblock %}