<!DOCTYPE html>

{% load static %}

<header class="page cursor-pointer flex flex-nowrap items-center justify-between fixed top-0 left-0 right-0 z-30 px-2">
    <section class="flex flex-nowrap items-center justify-between space-x-6 px-2">
        {% if user.is_authenticated %}
            <button id="nav-burger" class="lg:hidden">
                <h2>
                    <i class="fa-solid fa-bars"></i>
                </h2>
            </button>
        {% endif %}
        <a class="flex flex-nowrap items-center justify-between space-x-3" href="{% if user.logged_in %}/dashboard/{% else %}/{% endif %}">
            <img src="/static/tracker/box-house.png" alt="Logo: a box with open flaps forming the shape of a house" class="size-8 sm:size-10 md:size-14 lg:size-20 xl:size-24" />
            <h1>MoveMinder</h1>
        </a>
    </section>
    {% if user.is_authenticated %}
        <nav class="hidden lg:flex lg:flex-nowrap text-lg text-slate-900 dark:text-slate-200 md:justify-around lg:items-end space-x-4 lg:space-x-5 xl:space-x-6">
            <a class="block mt-4 cursor-pointer hover:text-slate-800 hover:underline dark:hover:text-white" href="/dashboard/">Dashboard</a>
            <a class="block mt-4 cursor-pointer hover:text-slate-800 hover:underline dark:hover:text-white" href="/moves/">My Moves</a>
            <a class="block mt-4 cursor-pointer hover:text-slate-800 hover:underline dark:hover:text-white" href="/moves/new/">Create New Move</a>
            <a class="block mt-4 cursor-pointer hover:text-slate-800 hover:underline dark:hover:text-white" href="/parcels/scan/">Scan Parcels</a>
        </nav>
    {% endif %}
    <section class="relative flex flex-no-wrap justify-between space-x-2 md:space-x-4 md:text-2xl px-2 items-center text-lg sm:text-xl">
        <button id="theme-toggler">
            <i class="fa-regular fa-moon text-yellow-400 block dark:hidden hover:text-amber-300"></i>
            <i class="fa-solid fa-sun text-yellow-300 hidden dark:block hover:text-amber-300"></i>
        </button>
        {% if user.is_authenticated %}
            <button id="account-menu">
                <i class="fa-regular fa-user text-slate-800 dark:text-slate-200 hover:text-slate-700 dark:hover:text-white"></i>
            </button>
            <div id="account-menu-content" class="hidden absolute right-0 top-full light-card space-y-3 md:space-y-4 xl:space-y-5 min-w-max text-center dark:dark-card">
                <a class="block w-full hover:text-slate-400 hover:underline dark:hover:text-slate-200" href="/users/{{ user.id }}/edit/">My Profile</a>
                <a class="block w-full hover:text-slate-400 hover:underline dark:hover:text-slate-200" href="/logout/">Logout</a>
            </div>
        {% endif %}
    </section>
</header>

{% if user.is_authenticated %}
    <div id="sidebar-overlay" class="hidden w-screen h-screen bg-slate-900/30 dark:bg-slate-100/30 fixed top-0 left-0 right-0 z-40 backdrop-blur-sm"></div>

    <aside id="hamburger-menu" class="py-6 fixed left-[-60%] sm:-left-1/2 md:left-[-40%] top-0 h-screen w-3/5 sm:w-1/2 md:w-2/5 box-contrast z-50 px-2 md:px-4 trasition duration-200">
        <div>
            <button id="close-burger" class="cursor-pointer w-full py-2 flex flex-nowrap justify-between items-center text-base sm:text-lg md:text-xl hover:text-white hover:bg-slate-700 dark:hover:text-slate-800 dark:hover:bg-slate-300">
                <div class="space-x-2 flex flex-nowrap">
                    <img src="/static/tracker/box-house.png" alt="Logo: a box with open flaps forming the shape of a house" class="size-4 sm:size-5 md:size-7" />
                    <span>MoveMinder</span>
                </div>
                <i class="fa-regular fa-circle-left"></i>
            </button>
            <hr class="mb-2"/>
        </div>
        <div class="pl-4">
            <a class="block mt-4 cursor-pointer hover:text-white hover:bg-slate-700 dark:hover:text-slate-800 dark:hover:bg-slate-300" href="/dashboard/">Dashboard</a>
            <a class="block mt-4 cursor-pointer hover:text-white hover:bg-slate-700 dark:hover:text-slate-800 dark:hover:bg-slate-300" href="/moves/">My Moves</a>
            <a class="block mt-4 cursor-pointer hover:text-white hover:bg-slate-700 dark:hover:text-slate-800 dark:hover:bg-slate-300" href="/moves/new/">Create New Move</a>
            <a class="block mt-4 cursor-pointer hover:text-white hover:bg-slate-700 dark:hover:text-slate-800 dark:hover:bg-slate-300" href="/parcels/scan/">Scan Parcels</a>
        </div>
    </aside>
{% endif %}

<script src="{% static 'tracker/js/header.js' %}"></script>